.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  // max-width: 700px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: lightgray;
  margin-top: 20vh;
  margin-bottom: 20vh;
  padding: 30px;
  padding: 40px;
  button {
    max-width: 100px;
    background-color: yellow;
  }
  .field {
    min-width: 300px;
  }
}

.register-form {
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 40px;
  padding: 40px;
  max-width: 70%;
}
