@import "./variables.scss";
@import "./mixins.scss";

.login-form {
  background-color: $black;
  color: $yellow;
  border: 2px dashed $yellow;
  margin: 0 auto;
  margin-top: 40px;
  padding: 50px;
  width: 50%;
  max-width: 500px;
  @include md {
    width: 60%;
  }
  @include sm {
    width: 80%;
    padding: 20px;
  }
  input {
    border: 2px dashed $yellow;
    transition: border 1s;
    &:focus {
      border: 4px dashed $yellow;
    }
  }
  button {
    background-color: $black;
    color: $yellow;
    border: 2px solid $yellow;
    &:hover {
      background-color: $yellow;
      color: $black;
      border: 2px solid $yellow;
    }
  }
}

.register-form {
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 40px;
  max-width: 70%;
  padding: 40px;
  @include not-sm {
    margin: 40px auto;
    max-width: 80%;
    padding: 20px;
  }
  background-color: $black;
  color: $yellow;
  border: 2px dashed $yellow;
  input {
    border: 2px dashed $yellow;
    transition: border 1s;
    &:focus {
      border: 4px dashed $yellow;
    }
  }
  button {
    background-color: $black;
    color: $yellow;
    border: 2px solid $yellow;
    &:hover {
      background-color: $yellow;
      color: $black;
      border: 2px solid $yellow;
    }
  }
}
