@font-face {
  font-family: IRANYekan;
  src: url("/assets/fonts/IRANYekan.ttf");
}
* {
  font-family: IRANYekan;
  text-align: right;
  direction: rtl;
  background-color: black;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
}
